<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="dark light" />
<link rel="stylesheet" href="style.css">
<title>Bad Homework Handwriting</title>
</head>
<body>
<h1>Bad Homework Handwriting</h1>
<p>These are examples of bad handwriting I have come across while grading homeworks.
I could decipher them from context, but it's hard to decipher them otherwise.</p>
{% for entry in entries %}
<div class="entry">
    <img src="img/{{entry.fname}}"/>
    <div class="caption">
        <span class="key">What it seems:</span>
        <span class="value incorrect">{{'; '.join(entry.appears)}}</span>
    </div>
    <div class="caption">
        <span class="key">What it is:</span>
        <span class="value correct">{{entry.actual}}</span>
    </div>
</div>
{% endfor %}
</body>
</html>
